.file-zone {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  height: 3rem;
  position: relative;
  & input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -999;
  }

  &:focus-within label {
    outline: 1px solid var(--brand-light);
  }

  label {
    font: 600 0.875 var(--ff-sans);
    color: var(--text-heading);

    background-color: var(--shape-button);
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    gap: 0.5rem;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: var(--brand-light);

      & svg path {
        fill: white;
      }
    }
  }

  & span {
    color: var(--input-placeholder);
    font: 400 1rem var(--ff-sans);
  }
}
