input,
textarea {
  appearance: none;
  width: 100%;

  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

  padding: 0.75rem 1rem;

  color: var(--input-placeholder);
}

input[type="date"] {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

label {
  font: 400 0.875rem var(--ff-sans);
  color: var(--text-body);
}

input:focus,
textarea:focus {
  outline: 1px solid var(--brand-light);
}

.input-wrapper > label {
  display: block;
  margin-bottom: 0.75rem;
}
